/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --background-primary: black;
    --background-secondary: #222222;
    --background-terthiary: #4A4A4A;
    --danger-color: #D21212;
    --safe-color: #4BC800;
    --ligth: white;
}


/* --------------------
   utilities_section
-------------------- */
.d-flex{
    display: flex;
}

.col-1{
width: calc(100% / 12);
}

.col-2{
width: calc(100% / 12 * 2);
}

.col-3{
width: calc(100% / 12 * 3);
}

.col-4{
width: calc(100% /12 * 4);
}

.col-5{
width: calc(100% / 12 * 5);
}

.col-6{
width: 50%;
}

.col-7{
width: calc(100% / 12 * 7);
}

.col-8{
width: calc(100% / 12 * 8);
}

.col-9{
width: calc(100% / 12 * 9);
}

.col-10{
width: calc(100% / 12 * 10);
}

.col-11{
width: calc(100% / 12 * 11);
}

.col-12{
width: 100%;
}
/* --------------------
  /utilities_section
-------------------- */

/* --------------------
      gemeral_css
-------------------- */
.viewport{
    min-height: 100vh;
    background-color: var(--background-primary);
}

#main_section{
    width: 100%;
    height: calc(100% - 4rem);
    position: relative;
}

.container{
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 80%;
    margin: auto;
}

.row{
    flex-wrap: wrap;
    justify-content: center;
}

.user_card{
    position: relative;
    height: fit-content;
    min-width: 150px;
    padding-right: .2rem;
}

.user_card>img{
    width: 100%;
}

.user_card_name{
    position: absolute;
    bottom: 0.3rem;
    left: 0;
    background-color: #4a4a4aaf;
    color: var(--ligth);
    font-size: 1rem;
    padding: 0.2rem;
}

.fast_action{
    gap: 0.2rem;
    color: var(--ligth);
    font-size: 1rem;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem;
}

.view, .full_screen{
    background-color: var(--background-terthiary);
    padding: 0.2rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

/* footer */
#footer_section{
    background-color: var(--background-secondary);
    height: 4rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    
}

.action_bar{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.action{
    align-items: center;
    text-align: center;
    color: var(--ligth);
    padding: 0.2rem;
    gap: 1rem;
    cursor: pointer;
}

footer i{
    display: block;
    font-size: 1.5rem;
}

footer h4{
    margin-top: 0.3rem;
    font-size: .8rem;
}

.share>i{
    color: var(--safe-color);
}

.options>i{
    font-size: 1rem;
}

.menu{
    padding: 1rem 0;
}

.left_menu{
    gap: 0.5rem;
    padding-left: 1rem;
}

.rigth_menu{
    height: 100%;
}

.end{
    height: 100%;
    padding: 0 1rem;
    background-color: var(--background-terthiary);
    color: var(--danger-color);
    line-height: 4rem;
    cursor: pointer;
}
/* --------------------
     /general_css
-------------------- */